<div class="question-container">
  <% if logged_in? %>
    <% if question.user_has_voted?(current_user) %>
      <form method="post" class="container" action="/votes/<%= question.get_vote_id(current_user) %>">
        <input type="hidden" name="_method" value="put">
        <button type="submit" name="vote" class="triangle-up" value="1"></button>
        <button type="submit" name="vote" class="triangle-down" value="-1"></button>
      </form>
    <% else %>
      <form method="post" class="container" action="votes" >
        <input type="hidden" name="question_id" value="<%= question.id %>">
        <button type="submit" name="vote" class="triangle-up" value="1"></button>
        <button type="submit" name="vote" class="triangle-down" value="-1"></button>
      </form>
    <% end %>
  <% end %>

  <span class="vote-total"><%=question.total_votes%></span>
  <div class="title-container">
    <span><a class="question-list-title no-text-decoration" href="/questions/<%= question.id %>"><%= question.title %></a></span>
    <p class="metadata">Created <%=   question.created_at %> by <%= question.user.username %></p>
  </div>
</div>

